services:

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - '9090:8080'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9090/auth/health']
    environment:
      - SPRING_PROFILES_ACTIVE=dev

networks:
  hmpps:
