---
generic-service:
  nameOverride: csr-api
  productId: DPS052

  image:
    repository: ghcr.io/ministryofjustice/csr-api
    tag: latest
    port: 8080

  ingress:
    enabled: true
    tlsSecretName: csr-api-cert
    modsecurity_enabled: true
    modsecurity_snippet: |
      SecRuleEngine On
      # team here grants access to the OpenSearch logs to delve into the cause of the blockage
      SecDefaultAction "phase:2,pass,log,tag:github_team=syscon-devs,tag:namespace={{ .Release.Namespace }}"
      # Default is only GET HEAD POST OPTIONS so need to include PUT etc.
      SecAction "id:900200,phase:1,nolog,pass,t:none,setvar:tx.allowed_methods=GET HEAD POST OPTIONS PUT PATCH DELETE,setvar:tx.paranoia_level=3"
      # Block Detectify scanner with 418
      SecRule REQUEST_HEADERS:User-Agent "@pm detectify Detectify DETECTIFY" "id:800003,phase:1,deny,status:418,log"
      # Change default denial to be a 406 so that we can tell easily that it is modsecurity doing the blocking
      SecRuleUpdateActionById 949110 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecRuleUpdateActionById 959100 "t:none,deny,status:406,logdata:%{SERVER_NAME}"

  livenessProbe:
    periodSeconds: 30
    initialDelaySeconds: 90
    timeoutSeconds: 20
    failureThreshold: 5
    successThreshold: 1

  readinessProbe:
    periodSeconds: 20
    initialDelaySeconds: 60
    timeoutSeconds: 30
    failureThreshold: 5
    successThreshold: 1

  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - "csr-api"
            topologyKey: kubernetes.io/hostname

  env:
    JAVA_OPTS: -Xmx1024m
    SPRING_PROFILES_ACTIVE: oracle
    SERVER_PORT: 8080
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json

  namespace_secrets:
    csr-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    csr-values:
      CSR_DATABASE_URL: CSR_DATABASE_URL
      CSR_DATABASE_USERNAME: CSR_DATABASE_USERNAME
      CSR_DATABASE_PASSWORD: CSR_DATABASE_PASSWORD

      CSR_REGION1_SCHEMA: CSR_REGION1_SCHEMA
      CSR_REGION2_SCHEMA: CSR_REGION2_SCHEMA
      CSR_REGION3_SCHEMA: CSR_REGION3_SCHEMA
      CSR_REGION4_SCHEMA: CSR_REGION4_SCHEMA
      CSR_REGION5_SCHEMA: CSR_REGION5_SCHEMA
      CSR_REGION6_SCHEMA: CSR_REGION6_SCHEMA
  
  resources:
    requests:
      cpu: 10m
      memory: 640Mi
    limits:
      cpu: 2000m
      memory: 1240Mi

  poddisruptionbudget:
   enabled: false

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: csr-api
  alertSeverity: syscon
